*{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  color:#497be8;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.input-button{
  border:1px solid #ccc;
  width: 15%;
  color:#497be8;
}
.input{
  font-size:17px;
  border:1px solid #ccc;
  width:85%;
  height: 30px;
  padding-left:12px;
}

.input-field{
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.wrapper{
  background-color:bisque;
  max-width: 400px;
  margin: 120px auto;
  width:100%;
  border-radius: 5px;
  padding:25px;
}
.todoList{
  margin-top:2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todoList .list{
  list-style-type:none;
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
}
.todoList .list li{
  position: relative;
  border-radius: 5px;
  background-color: white;
  height: 45px;
  line-height: 45px;
  margin-bottom:8px;
  padding: 0 15px;
  cursor: default;
  overflow-x: hidden;
}

.todoList .list li .deleteButton{
  text-align: center;
  width: 45px;
  cursor: pointer;
  right:-45px;
  position: absolute;
  transition: all ease 0.3s;
  color:#497be8;
}
.list li:hover .deleteButton{
  right:0px;
}
